# Payload CMS Secret Key
PAYLOAD_SECRET=your_secret_key_here

# Postgres Database URL
DATABASE_URL=postgresql://user:password@host:port/database

# URL Base del Servidor
SERVER_URL=http://localhost:3000
